/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* переменные тёмной темы */
  --header-nav-color: #ff0070;
  --header-nav-font-family: IBM Plex Mono;
  --header-title-color: #db00ff;
  --header-title-shadow: #ff0070;
  --header-background-image: url(../images/cover-image-dark.png);
  --header-headline-description: #000028;
  --text-block-color: #f1b2ce;
  --text-block-link-color: #f1b2ce;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
}
